<div class="container">
  <table class="dev-style cart">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
      <th>
        Total
      </th>
    </tr>
    <tr ng-repeat="item in cart" ng-if="item.quantity > 0">
      <td>
        <a href="/shop/product/{{item.product._id}}">{{ item.product.productTitle }}</a>
      </td>
      <td class="dev-style">
        <select class="form-control" ng-change="saveCart()" name="Quantity" ng-model="cart[item.product._id].quantity">
          <option value="{{i}}" ng-repeat="i in makeArray(10)">{{i}}</option>
        </select>
      </td>
      <td class="dev-style">
        DKK {{ item.product.price }} .-
      </td>
      <td class="dev-style">
        DKK {{ item.product.price * item.quantity }} .-
      </td>
    </tr>
    <tr class="dev-style filler-row">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Sub Total: DKK {{ totalCost }}.-</td>
    </tr>
  </table>
</div>
