<div class="container">
  <table class="dev-style cart">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
      <th>
        Total
      </th>
    </tr>
    <tr ng-repeat="item in cart" ng-if="item.quantity > 0">
      <td>
        <a href="/shop/product/{{item.product._id}}">{{ item.product.productTitle }}</a>
      </td>
      <td class="dev-style">
        <!-- Old way, with select. -->
        <!-- <select value="123" class="form-control"
          ng-change="saveCart(item.product._id)" name="Quantity"
          ng-model="cart[item.product._id].quantity">
          <option value="{{i}}" ng-repeat="i in makeArray(cart[item.product._id].quantity) track by $index">{{i}}</option>
        </select> -->
        <input ng-change="saveCart()" class="quantity-selector" maxlength="4" min="0" size="2"
               ng-model="cart[item.product._id].quantity"
               type="number" name="name" value="{{ cart[item.product._id].quantity }}" />
      </td>
      <td class="dev-style">
        DKK {{ item.product.price }} .-
      </td>
      <td class="dev-style">
        DKK {{ item.product.price * item.quantity }} .-
      </td>
    </tr>
    <tr class="dev-style filler-row">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Sub Total: DKK {{ totalCost }}.-</td>
    </tr>
  </table>
</div>
