div.product-teaser {
  max-height: 350px;
  min-height: 350px;
  overflow: hidden;
  background: white;
  padding: 1px;
  /*border: 1px red solid;*/
}

/*div.teaser-image {
  height: 100%;
}*/

div.tag-link {
  display: inline-block;
}

div.product-image-container {
  min-height: 230px;
  max-height: 230px;
  /*border: 1px #EEE solid*/
  border
}

img.product-image {
  height: auto;
  width: auto;
  max-width: inherit;
  max-height: inherit;;
  /*border: 1px solid green;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.product-teaser-text {
	padding: 25px;
}

img.teaser-image {
  height: auto;
  width: auto;
  /*max-width: 150px;*/
  max-height: 210px;
  /*border: 1px solid green;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dev-style {
  border: 0px solid blue
}

input.quantity-selector {
  width: 70px;
}

div.currStock {
  height: 37px;
}
span.back-button:hover  {
  display: !important;
}

table.cart {
  width: 100%;
}

tr.filler-row {
  height: 20px
}

.notification {
  vertical-align: middle;
}

span.just-bought-icon {
  width: auto;
}

table.cart td,table.cart th {
  text-align: center;
}

body {
  background: #EEE !important;
}
