div.product-teaser {
  max-height: 350px;
  min-height: 350px;
  overflow: hidden;
  background: white;
  padding: 1px;
  /*border: 1px red solid;*/
}

div.tag-link {
  display: inline-block;
}

div.product-image-container {
  min-height: 230px;
  max-height: 230px;
  border
}

img.product-image {
  height: auto;
  width: auto;
  max-width: inherit;
  max-height: inherit;
	min-height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
	cursor: pointer;
}

div.product-teaser-text {
	padding: 25px;
}

div.product-tiny-image {
	text-align: center;

}

img.product-tiny-image {
	max-height: 80px;
	max-width: 80px;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
}

img.teaser-image {
  height: auto;
  width: auto;
  max-height: 210px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dev-style {
  border: 0px solid blue
}

input.quantity-selector {
  width: 70px;
}

div.currStock {
  height: 37px;
}
span.back-button:hover  {
  display: !important;
}

table.cart {
  width: 100%;
}

tr.filler-row {
  height: 20px
}

.notification {
  vertical-align: middle;
}

span.just-bought-icon {
  width: auto;
}

table.cart td,table.cart th {
  text-align: center;
}

body {
  background: #EEE !important;
}
/*
li.loading-gif {
	align-content: center;
}*/

img.loading-gif {
	max-height: 300px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 50px;
	background-color: #EEE !important;
}

div.no-search-results {
	display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}
